
<% title "Posts on my blog" %>

<%= link_to 'Create a new post', new_post_path  if logged_in? %>

<% for post in @posts do %>
    <h2><%= link_to( post.title, post) %></h2>
      <h5> Created  <%=  time_ago_in_words( post.created_at) %> ago || Upadted
    <%=  time_ago_in_words( post.updated_at) %> || has <%= "#{post.comments.count} comments "  %> </h5>
   
  <p>    <%= simple_format post.body %> </p>
  
 

<% end %>


